{{ form_start(form) }}
<div class="container container-show-trick">
    <div class="content">
        {{ form_widget(form.nameTrick, {'attr':{'placeholder': 'Nom du trick'}}) }}
    </div>
    <div class="content">
        {{ form_row(form.description,{'attr':{'placeholder': 'Description du trick'}}) }}

    </div>
    <div class="content">
        Date de création :
        {{ trick.creationDate|date('d/m/Y') }}

    </div>

    <div class="content">
        {{ form_row(form.groupTrick) }}
    </div>



    <div class="content" {{ stimulus_controller('form-collection') }}
            data-form-collection-index-value="{{ form.photoTricks|length > 0 ? form.photoTricks|last.vars.name + 1 : 0 }}"
            data-form-collection-prototype-value="{{ form_widget(form.photoTricks.vars.prototype)|e('html_attr') }}"
    >
        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
            <h3>Photos</h3>
            {% for photo in form.photoTricks %}
                <li>
                    {{ form_row(photo.photo) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
            Ajouter une photo
        </button>
    </div>

  <div class="content" {{ stimulus_controller('form-collection') }}
            data-form-collection-index-value="{{ form.videoTricks|length > 0 ? form.videoTricks|last.vars.name + 1 : 0 }}"
            data-form-collection-prototype-value="{{ form_widget(form.videoTricks.vars.prototype)|e('html_attr') }}"
    >
        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
            <h3>Videos</h3>
            {% for video in form.videoTricks %}
                <li>
                    {{ form_row(video.photo) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
            Ajouter une vidéo
        </button>
    </div>


    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

</div>
