{% extends 'base.html.twig' %}

{% block title %}tricks{% endblock %}

{% block body %}
    <div class="container container-show-trick">
        <header class="content trick-title">
            <h2>Group : <img
                        src={{ asset( uploads_dir_grp ~ trick.groupTrick.logo) }}  alt="">{{ trick.groupTrick.name }}
            </h2>
            <h1>{{ trick.nameTrick }}</h1>
        </header>

        <div class="content trick-photo-main">
            <h3>photo principal</h3>
            <img src="{{ asset(uploads_dir ~ trick.mainPhoto ) }}" alt="Photo principal">

        </div>

        <article class="content trick-description">
            <h3>Description</h3>
            <p>{{ trick.description }}</p>

        </article>


        <div class="content trick-gallery">
            <h3>Gallerie Photos</h3>
            <div class="gallery">
                {% for photo in trick.photoTricks %}

                    <img src="{{ asset(uploads_dir ~ photo.photo ) }}" alt="Photo secondaire">

                {% endfor %}
            </div>
        </div>

        <div class="content trick-videos">
            <h3>Vidéos</h3>
            {% for video in trick.videoTricks %}
                <iframe src="{{ video.video }}"
                        title="GoPro: Raw Files with Travis Rice | &#39;21/22 Snowboarding Highlights" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            {% endfor %}

        </div>

        <div class="content trick-comment">
            <h3>Espace commentaire</h3>
            <div class="comment" style="border: #222222">
                {% for comment in trick.comments %}
                    {{ comment.comment }}
                {% endfor %}
            </div>
        </div>

        <footer class="content trick-footer">

            Crée le {{ trick.creationDate ? trick.creationDate|date('Y-m-d') : '' }}</td> par {{ trick.user.nickname }}
        </footer>

        <div class="content trick-button">
            <a href="{{ path('app_trick_index') }}"> Liste des tricks</a>
            {% if app.user  %}
                <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">Modifier</a>
            {% endif %}

        </div>
        {# {{ include('trick/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
