{% extends 'base.html.twig' %}

{% block title %}tricks{% endblock %}

{% block body %}
    <div class="container container-show-trick">
        <header class="content trick-title">
            <h2>Group : <img
                        src={{ asset( uploads_dir_grp ~ trick.groupTrick.logo) }}  alt="">{{ trick.groupTrick.name }}
            </h2>
            <h1>   {% if app.user  %}
                <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}"><span><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="40" xmlns="http://www.w3.org/2000/svg" height="40" id="screenshot-8e0bab7b-180b-804f-8002-7b807e85ab02" viewBox="-0 0 138.633 159.17" style="-webkit-print-color-adjust: exact;" fill="none" version="1.1"><g id="shape-8e0bab7b-180b-804f-8002-7b807e85ab02" height="159.17012mm" width="138.63324mm" rx="0" ry="0" style="fill: rgb(0, 0, 0);"><g id="shape-8e0bab7b-180b-804f-8002-7b807e86056f"><g class="fills" id="fills-8e0bab7b-180b-804f-8002-7b807e86056f"><path color="#000" overflow="visible" rx="0" ry="0" d="M5.323,150.663C9.971,142.499,16.047,134.346,13.222,126.126C21.636,125.025,29.476,121.167,32.402,114.381L30.436,111.690C30.436,111.690,70.233,57.501,81.433,42.845C92.632,28.188,103.709,14.985,116.815,6.116C129.922,-2.752,137.820,5.500,133.908,13.576C129.995,21.653,80.516,79.836,80.516,79.836L44.009,121.626L40.561,121.582C34.710,127.983,31.663,135.726,29.973,144.117C21.684,145.742,13.469,147.545,6.841,153.139Z" style="fill: rgb(255, 255, 255);"/></g></g><g id="shape-8e0bab7b-180b-804f-8002-7b807e87a9c8"><g class="fills" id="fills-8e0bab7b-180b-804f-8002-7b807e87a9c8"><path rx="0" ry="0" d="M36.167,155.843C35.987,154.661,35.789,154.627,33.755,155.428C28.665,157.190,20.970,159.100,15.645,158.756C12.758,158.662,3.249,159.905,4.517,153.327C3.395,152.890,1.155,154.503,0.249,152.878C-0.196,152.045,-0.345,152.238,2.472,150.000C11.907,139.289,8.625,124.919,10.516,124.895C10.716,124.654,11.824,124.350,12.979,124.219C20.760,122.898,27.580,118.172,29.829,115.548C30.581,115.548,30.292,115.050,29.110,114.308C28.360,113.838,27.939,113.267,27.864,112.621C27.752,111.648,28.019,111.224,30.869,107.845C46.778,84.645,64.721,58.373,82.627,37.364C89.597,29.357,111.643,-3.064,127.885,0.235C136.753,2.197,140.931,11.332,137.358,20.121C126.925,41.403,116.342,57.239,102.765,73.721C100.508,76.476,98.649,76.588,97.504,74.037C97.171,73.294,96.727,72.336,96.518,71.909C95.488,68.052,99.107,63.665,101.434,61.326C104.209,58.560,105.528,58.000,107.585,58.718C108.209,58.935,108.831,58.991,108.967,58.843C117.614,44.749,125.136,37.570,130.106,23.831C122.157,33.581,112.665,44.892,106.117,52.732C93.263,69.707,73.257,88.649,60.173,105.670C59.583,106.543,58.914,107.416,58.687,107.610C54.938,112.656,49.610,117.156,46.136,122.214C44.874,124.066,44.795,124.109,43.349,123.705C42.360,123.428,41.448,124.186,40.324,126.218C34.933,131.402,32.096,138.347,32.036,144.551C32.032,146.230,31.258,146.711,29.388,146.194C25.061,144.262,7.753,152.940,8.655,155.104C8.854,155.304,10.811,155.629,13.004,155.828C16.329,156.129,17.491,156.092,20.014,155.608C29.521,154.367,39.840,148.321,46.303,144.708C46.906,144.477,48.967,146.285,48.967,147.045C48.077,148.474,44.665,150.610,43.213,151.366C40.016,153.016,38.483,155.066,40.009,155.651C45.791,155.793,52.852,153.726,57.787,151.085C61.988,148.796,61.566,148.901,62.890,149.809C63.976,150.552,64.042,150.697,63.646,151.453C63.233,152.241,62.425,152.839,60.731,153.611C59.662,154.098,59.470,154.553,60.110,155.084C63.738,156.063,71.374,151.897,73.195,149.545C75.405,147.622,77.026,151.056,75.778,152.686C75.390,153.179,75.073,153.677,75.073,153.791C77.389,154.853,79.447,151.987,81.627,152.397C82.294,152.557,83.187,153.889,83.187,154.725C80.822,156.984,73.415,159.927,72.489,155.836C67.876,157.750,57.435,161.939,56.728,156.437C56.728,155.394,56.180,155.359,53.809,156.251C51.021,157.203,37.297,162.094,36.167,155.843ZZM13.272,146.416C18.230,143.752,22.275,142.629,27.624,142.393C28.860,136.279,31.082,128.880,36.832,124.444C37.814,123.526,36.753,122.221,38.384,121.239C36.527,119.638,34.819,118.328,32.524,116.670C32.180,116.199,32.086,116.271,31.889,117.155C31.594,118.481,28.179,121.865,25.860,123.128C22.615,124.382,17.843,127.652,14.730,127.993C14.233,128.031,14.108,128.622,13.937,131.759C13.806,134.144,13.419,136.555,12.857,138.477C12.375,140.125,12.026,141.518,12.080,141.572C12.208,141.701,15.167,138.213,15.929,137.035C16.254,136.531,16.503,135.579,16.482,134.918C16.407,132.501,17.039,131.590,19.687,130.304C23.745,128.634,25.684,130.924,23.790,135.030C22.207,138.467,19.756,136.535,17.923,138.881C15.437,141.807,13.358,144.220,11.573,147.145C11.573,147.538,12.320,147.217,13.272,146.416ZZM44.258,117.479C44.811,116.794,46.176,115.262,47.292,114.072C48.921,112.009,54.487,106.346,54.612,104.901C54.612,104.759,53.522,104.006,52.189,103.228C50.088,102.001,45.700,98.662,44.229,97.240C40.862,100.232,35.052,108.377,33.020,111.471C32.865,111.739,33.290,112.218,34.157,112.753C34.919,113.223,35.547,113.714,35.552,113.845C35.573,114.369,42.158,118.656,43.023,118.709C43.150,118.716,43.706,118.163,44.258,117.479ZZM58.360,100.521C72.588,85.506,82.132,73.474,94.217,59.039C95.487,57.526,95.696,56.634,94.781,56.634C90.314,54.855,82.761,44.533,79.300,49.137C78.475,50.253,77.622,51.325,77.406,51.519C66.485,66.590,52.503,84.878,46.505,94.249C48.982,96.223,53.011,101.559,56.773,102.121C56.894,102.133,57.609,101.413,58.360,100.521ZZM130.776,12.537C131.691,9.670,132.132,6.624,129.888,5.498C120.632,2.197,110.017,12.550,103.855,19.328C98.265,25.221,89.476,34.103,84.258,43.185C86.136,44.247,92.014,50.013,93.637,50.284C93.865,50.284,94.901,51.236,95.939,52.399C96.978,53.562,97.901,54.514,97.990,54.515C111.828,38.843,122.904,26.936,130.776,12.537ZZM89.537,156.838C82.686,155.567,84.063,146.770,89.360,146.780C91.648,146.302,93.779,149.021,91.148,149.817C88.273,150.877,88.013,153.620,90.867,153.648C95.764,153.226,105.511,148.282,109.296,152.243C110.139,153.818,108.864,154.533,105.828,154.190C100.551,153.929,95.140,157.963,89.537,156.838ZZM116.459,156.476C115.344,156.014,114.864,154.943,115.281,153.847C116.170,152.318,118.534,152.795,119.520,153.821C121.361,155.776,118.184,157.067,116.459,156.476ZZ" style="fill: rgb(3, 3, 3);"/></g></g></g></svg>
                </span></a>
                {% endif %}
                {{ trick.nameTrick }}</h1>

        </header>

        <div class="content trick-photo-main">
            <h3>photo principal</h3>
            <img src="{{ asset(uploads_dir ~ trick.mainPhoto ) }}" alt="Photo principal">

        </div>

        <article class="content trick-description">
            <h3>Description</h3>
         {{ ckeditor_base_path(trick.description)  }}

        </article>


        <div class="content trick-gallery">
            <h3>Gallerie Photos</h3>
            <div class="gallery">
                {% for photo in trick.photoTricks %}

                    <img src="{{ asset(uploads_dir ~ photo.photo ) }}" alt="Photo secondaire">

                {% endfor %}
            </div>
        </div>

        <div class="content trick-videos">
            <h3>Vidéos</h3>
            {% for video in trick.videoTricks %}
                <iframe src="{{ video.video }}"
                        title="GoPro: Raw Files with Travis Rice | &#39;21/22 Snowboarding Highlights" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            {% endfor %}

        </div>

        <div class="content trick-comment">
            <h3>Espace commentaire</h3>
            <div class="spaceComment ">
                {% if app.user %}
                    <div>
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    </div>
                {% else %}
                    <div class="spaceComment__content--subscribe">
                        <a href="{{ path('app_login') }}"><h4>Connectez-vous pour écrire un commentaire</h4></a>
                        <a href="{{ path('app_register') }}"><h4>Inscrivez vous en cliquant ici</h4></a>
                    </div>
                {% endif %}
                Nombre de commentaires : {{ pagination.getTotalItemCount }} commentaire(s)
                {% for comment in pagination %}
                    <div id="one-comment" class="spaceComment__content">
                        <div class="spaceComment spaceComment__left">
                            <div class="spaceComment spaceComment__date">
                               <p>Publié le {{ comment.createDate.format('Y m d') }}</p>
                            </div>
                            {{ comment.comment }}
                            {% if comment.user == app.user %}
                                {{ include('comment/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                        <div class="spaceComment spaceComment__right" >
                            <img src="{{ asset(uploads_dir ~ comment.user.avatar ) }}" alt="Avatar de {{ comment.user.nickname }}">
                            <span>{{ comment.user.nickname }}</span>
                    </div>

                    </div>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>

        <footer class="content trick-footer">

            Crée le {{ trick.creationDate ? trick.creationDate|date('Y-m-d') : '' }}</td> par {{ trick.user.nickname }}
        </footer>

        <div class="content trick-button">
            <a href="{{ path('app_trick_index') }}"> Liste des tricks</a>
            {% if app.user  %}
                <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}"> <span><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="15" xmlns="http://www.w3.org/2000/svg" height="15" id="screenshot-8e0bab7b-180b-804f-8002-7b807e85ab02" viewBox="-0 0 138.633 159.17" style="-webkit-print-color-adjust: exact;" fill="none" version="1.1"><g id="shape-8e0bab7b-180b-804f-8002-7b807e85ab02" height="159.17012mm" width="138.63324mm" rx="0" ry="0" style="fill: rgb(0, 0, 0);"><g id="shape-8e0bab7b-180b-804f-8002-7b807e86056f"><g class="fills" id="fills-8e0bab7b-180b-804f-8002-7b807e86056f"><path color="#000" overflow="visible" rx="0" ry="0" d="M5.323,150.663C9.971,142.499,16.047,134.346,13.222,126.126C21.636,125.025,29.476,121.167,32.402,114.381L30.436,111.690C30.436,111.690,70.233,57.501,81.433,42.845C92.632,28.188,103.709,14.985,116.815,6.116C129.922,-2.752,137.820,5.500,133.908,13.576C129.995,21.653,80.516,79.836,80.516,79.836L44.009,121.626L40.561,121.582C34.710,127.983,31.663,135.726,29.973,144.117C21.684,145.742,13.469,147.545,6.841,153.139Z" style="fill: rgb(255, 255, 255);"/></g></g><g id="shape-8e0bab7b-180b-804f-8002-7b807e87a9c8"><g class="fills" id="fills-8e0bab7b-180b-804f-8002-7b807e87a9c8"><path rx="0" ry="0" d="M36.167,155.843C35.987,154.661,35.789,154.627,33.755,155.428C28.665,157.190,20.970,159.100,15.645,158.756C12.758,158.662,3.249,159.905,4.517,153.327C3.395,152.890,1.155,154.503,0.249,152.878C-0.196,152.045,-0.345,152.238,2.472,150.000C11.907,139.289,8.625,124.919,10.516,124.895C10.716,124.654,11.824,124.350,12.979,124.219C20.760,122.898,27.580,118.172,29.829,115.548C30.581,115.548,30.292,115.050,29.110,114.308C28.360,113.838,27.939,113.267,27.864,112.621C27.752,111.648,28.019,111.224,30.869,107.845C46.778,84.645,64.721,58.373,82.627,37.364C89.597,29.357,111.643,-3.064,127.885,0.235C136.753,2.197,140.931,11.332,137.358,20.121C126.925,41.403,116.342,57.239,102.765,73.721C100.508,76.476,98.649,76.588,97.504,74.037C97.171,73.294,96.727,72.336,96.518,71.909C95.488,68.052,99.107,63.665,101.434,61.326C104.209,58.560,105.528,58.000,107.585,58.718C108.209,58.935,108.831,58.991,108.967,58.843C117.614,44.749,125.136,37.570,130.106,23.831C122.157,33.581,112.665,44.892,106.117,52.732C93.263,69.707,73.257,88.649,60.173,105.670C59.583,106.543,58.914,107.416,58.687,107.610C54.938,112.656,49.610,117.156,46.136,122.214C44.874,124.066,44.795,124.109,43.349,123.705C42.360,123.428,41.448,124.186,40.324,126.218C34.933,131.402,32.096,138.347,32.036,144.551C32.032,146.230,31.258,146.711,29.388,146.194C25.061,144.262,7.753,152.940,8.655,155.104C8.854,155.304,10.811,155.629,13.004,155.828C16.329,156.129,17.491,156.092,20.014,155.608C29.521,154.367,39.840,148.321,46.303,144.708C46.906,144.477,48.967,146.285,48.967,147.045C48.077,148.474,44.665,150.610,43.213,151.366C40.016,153.016,38.483,155.066,40.009,155.651C45.791,155.793,52.852,153.726,57.787,151.085C61.988,148.796,61.566,148.901,62.890,149.809C63.976,150.552,64.042,150.697,63.646,151.453C63.233,152.241,62.425,152.839,60.731,153.611C59.662,154.098,59.470,154.553,60.110,155.084C63.738,156.063,71.374,151.897,73.195,149.545C75.405,147.622,77.026,151.056,75.778,152.686C75.390,153.179,75.073,153.677,75.073,153.791C77.389,154.853,79.447,151.987,81.627,152.397C82.294,152.557,83.187,153.889,83.187,154.725C80.822,156.984,73.415,159.927,72.489,155.836C67.876,157.750,57.435,161.939,56.728,156.437C56.728,155.394,56.180,155.359,53.809,156.251C51.021,157.203,37.297,162.094,36.167,155.843ZZM13.272,146.416C18.230,143.752,22.275,142.629,27.624,142.393C28.860,136.279,31.082,128.880,36.832,124.444C37.814,123.526,36.753,122.221,38.384,121.239C36.527,119.638,34.819,118.328,32.524,116.670C32.180,116.199,32.086,116.271,31.889,117.155C31.594,118.481,28.179,121.865,25.860,123.128C22.615,124.382,17.843,127.652,14.730,127.993C14.233,128.031,14.108,128.622,13.937,131.759C13.806,134.144,13.419,136.555,12.857,138.477C12.375,140.125,12.026,141.518,12.080,141.572C12.208,141.701,15.167,138.213,15.929,137.035C16.254,136.531,16.503,135.579,16.482,134.918C16.407,132.501,17.039,131.590,19.687,130.304C23.745,128.634,25.684,130.924,23.790,135.030C22.207,138.467,19.756,136.535,17.923,138.881C15.437,141.807,13.358,144.220,11.573,147.145C11.573,147.538,12.320,147.217,13.272,146.416ZZM44.258,117.479C44.811,116.794,46.176,115.262,47.292,114.072C48.921,112.009,54.487,106.346,54.612,104.901C54.612,104.759,53.522,104.006,52.189,103.228C50.088,102.001,45.700,98.662,44.229,97.240C40.862,100.232,35.052,108.377,33.020,111.471C32.865,111.739,33.290,112.218,34.157,112.753C34.919,113.223,35.547,113.714,35.552,113.845C35.573,114.369,42.158,118.656,43.023,118.709C43.150,118.716,43.706,118.163,44.258,117.479ZZM58.360,100.521C72.588,85.506,82.132,73.474,94.217,59.039C95.487,57.526,95.696,56.634,94.781,56.634C90.314,54.855,82.761,44.533,79.300,49.137C78.475,50.253,77.622,51.325,77.406,51.519C66.485,66.590,52.503,84.878,46.505,94.249C48.982,96.223,53.011,101.559,56.773,102.121C56.894,102.133,57.609,101.413,58.360,100.521ZZM130.776,12.537C131.691,9.670,132.132,6.624,129.888,5.498C120.632,2.197,110.017,12.550,103.855,19.328C98.265,25.221,89.476,34.103,84.258,43.185C86.136,44.247,92.014,50.013,93.637,50.284C93.865,50.284,94.901,51.236,95.939,52.399C96.978,53.562,97.901,54.514,97.990,54.515C111.828,38.843,122.904,26.936,130.776,12.537ZZM89.537,156.838C82.686,155.567,84.063,146.770,89.360,146.780C91.648,146.302,93.779,149.021,91.148,149.817C88.273,150.877,88.013,153.620,90.867,153.648C95.764,153.226,105.511,148.282,109.296,152.243C110.139,153.818,108.864,154.533,105.828,154.190C100.551,153.929,95.140,157.963,89.537,156.838ZZM116.459,156.476C115.344,156.014,114.864,154.943,115.281,153.847C116.170,152.318,118.534,152.795,119.520,153.821C121.361,155.776,118.184,157.067,116.459,156.476ZZ" style="fill: rgb(3, 3, 3);"/></g></g></g></svg></span> Modifier</a>
            {{ include('trick/_delete_form.html.twig') }}
            {% endif %}

        </div>
        {# {{ include('trick/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
