{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}
    <h1>Modifié les paramètres utilisateurs</h1>
    {{ form_start(form) }}
    {{ form_row(form.avatar) }}
    <img src="{{ asset(uploads_dir ~ user.avatar) }}" class="img-thumbnail" alt="Avatar de {{ user.nickname }}">
    {{ form_row(form.removeAvatar) }}
    <button class="btn" type="submit">Modifier</button>
    {{ form_end(form) }}

{# {{ include('user/_form.html.twig', {'button_label': 'Update'}) }} #}
    <p>Trick créé :</p>

    {% for trick in user.tricks  %}

        <li> {{ trick.nameTrick }} dans le groupe {{ trick.groupTrick.name }}</li>
    {% endfor %}



    <p>Commentaire crée :</p>
    {% for comment in user.comments %}
        <li>{{ comment.comment }}</li>

    {% endfor %}


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
