{% extends 'base.html.twig' %}


{% block title %}profil de {{ app.user.nickname }}{% endblock %}

{% block body %}
<div class="container__homepage" >
    <h1>Hey {{ app.user.nickname }} Voila ton espace rien qu'à toi !</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
            <tr>
                <th>RegistrationDate</th>
                <td>{{ user.registrationDate ? user.registrationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_user_edit', {'slug': user.slug}) }}">Modifié son profil</a>
</div>
{% endblock %}
