{% extends 'base.html.twig' %}


{% block title %}profil de {{ app.user.nickname }}{% endblock %}

{% block body %}
<div class="container" >
    <h1 class="content">Hey {{ app.user.nickname }} Voila ton espace rien qu'à toi !</h1>

    <table class="table">
        <tbody>

            <tr>
                <th class="content">Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th class="content">Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th class="content">Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th class="content" >Nickname</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th class="content">Description</th>
                <td>{{ user.description }}</td>
            </tr>
            <tr>
                <th class="content">RegistrationDate</th>
                <td>{{ user.registrationDate ? user.registrationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th class="content">Avatar</th>
                <td><img class="user_avatar" src="{{ asset(uploads_dir ~ user.avatar ) }}" alt="Photo principal"></td>
            </tr>
        </tbody>
    </table>



    <a class="btn" href="{{ path('app_user_edit', {'slug': user.slug}) }}">Modifié son profil</a>
</div>
{% endblock %}
